* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia";
}

:root {
    --main-color: #0d4d0a;
    --main-light: #3c7439;
    --sub-color: #2c2d3a;
    --gray-color: #e7e7e7;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.c_box {
    padding: 40px 200px;
    margin-top: 50px;
}

button {
    border: none;
}

.title {
    font-weight: lighter;
    font-size: 40px;
    span {
        font-weight: bold;
        color: var(--main-color);
    }
}

body:has(#popup:checked),
body:has(#p_btn1:checked),
body:has(#p_btn2:checked),
body:has(#p_btn3:checked),
body:has(#p_btn4:checked),
body:has(#p_btn5:checked),
body:has(#p_btn6:checked),
body:has(#p_btn7:checked),
body:has(#p_btn8:checked),
body:has(#login:checked)  {
    overflow: hidden;
}

header {
    width: 100%;
    height: 130px;
    padding-inline: 30px;
    border-bottom: 1px solid var(--main-color);
    .user {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 50px;
        border-bottom: 1px solid var(--gray-color);
        div {
            height: 40px;
            padding-inline: 10px;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 10px;
            align-content: center;
            margin-left: 10px;
            font-weight: bold;
            font-size: 15px;
            label {
                display: block;
                align-content: center;
                height: 100%;
            }
            &.sign_up {
                background-color: black;
                color: white;
                cursor: pointer;
            }
            &.sign_in:hover {
                border-color: rgba(0,0,0,0.8);
            }
        }
    }
    #login:checked ~ .login_modal {
        opacity: 1;
        visibility: visible;
    }
    .login_modal,
    .register_modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        z-index: 99;
        display: grid;
        place-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
        .login_box {
            position: relative;
            width: 350px;
            height: 500px;
            background-color: #fff;
            border-radius: 20px;
            padding: 60px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .input_box {
                .input_warpper {
                    position: relative;
                } 
                input {
                    position: relative;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid var(--gray-color);
                    padding: 10px;
                    margin-bottom: 30px;
                    outline: none;
                    background-color: transparent;
                    z-index: 2;
                    &:focus ~ span,
                    &:valid ~ span {
                        top: -20px;
                        color: var(--main-color);
                        font-weight: bold;
                        font-size: 12px;
                    }
                    &:focus,
                    &:valid {
                        border-color: var(--main-color);
                    }
                }
                span {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    color: var(--gray-color);
                    transition: all 0.2s;
                }
            }
            img {
                width: 170px;
                margin: 0 auto;
                display: block;
            }
            .login-btn {
                border: none;
                width: 100%;
                padding: 10px;
                border-radius: 50px;
                background-color: #fff;
                font-size: 20px;
                box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
                font-weight: bold;
                transition: all 0.2s;
                &:hover {
                    box-shadow: inset 4px 4px 4px 4px rgba(0,0,0,0.1);
                    background-color: var(--main-color);
                    color: white;
                }
            }
            label {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 20px;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .h_bottom {
        display: flex;
        justify-content: space-between;
        height: 80px;
        .logo {
            height: 100%;
            align-content: center;
            img {
                width: 140px;
                display: block;
            }
        }
        .menu {
            display: flex;
            li {
                position: relative;
                align-content: center;
                a {
                    position: relative;
                    display: block;
                    height: 80px;
                    align-content: center;
                    padding-inline: 30px;
                    font-size: 18px;
                    color: var(--sub-color);
                    &:hover {
                        transform: scale(1.1);
                        font-weight: bold;
                    }
                    &:focus ~ .submenu {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:not(:hover) ~ .submenu {
                        opacity: 0;
                        visibility: hidden;
                    }
                    i {
                        position: absolute;
                        font-size: 12px;
                        transition: all 0.2s;
                    }
                    &:focus .fa-plus {
                        transform: rotate(90deg);
                        transition-delay: 0.3s;
                        opacity: 0;
                    }
                    &:focus  .fa-minus {
                        opacity: 1;
                    }
                    .fa-minus {
                        opacity: 0;
                    }
                }
                .submenu {
                    width: 190px;
                    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
                    background-color: #fff;
                    position: absolute;
                    padding: 20px;
                    opacity: 0;
                    visibility: hidden;
                    top: 70px;
                    z-index: 20;
                    &:hover {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                    a:hover {
                        transform: scale(1);
                        background-color: rgba(13, 77, 10,0.1);
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 400px;
    background-color: #444444;
    padding: 40px 80px;
    color: var(--main-light);
    .f_top {
        display: flex;
        justify-content: space-between;
        height: 80%;
        .f_left {
            img {
                width: 170px;
            }
        }
        .f_right {
            display: flex;
            width: 80%;
            justify-content: space-between;
            font-size: 15px;
            .f_h {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 30px;
            }
            .f_bar {
                width: 0.5px;
                height: 100%;
                background-color: var(--main-light);
            }
            div {
                margin-top: 40px;
                i {
                    font-size: 30px;
                    color: white;
                    margin-right: 10px;
                    &:hover {
                        color: var(--main-light);
                    }
                }
            }
        }
    }
    .f_bottom {
        display: flex;
        justify-content: space-between;
        color: var(--gray-color);
        border-top: 1px solid var(--gray-color);
        padding-block: 10px;
        font-size: 14px;
    }
}