#visual {
    width: 100%;
    height: calc(100vh - 130px);
    max-height: 900px;
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &:hover .slides {
            animation-play-state: paused;
        }

        &:hover .v_bars > div::before {
            animation-play-state: paused;
        }

        &:hover .v_texts > h1 {
            animation-play-state: paused;
        }

        &:hover .stop_btnBox > .stop_btn > .fa-play {
            display: block;
        }
        &:hover .stop_btnBox > .stop_btn > .fa-grip-lines-vertical {
            display: none;
        }
        .slides {
            width: 300%;
            display: flex;
            animation: slide 9s infinite;
            div {
                width: 100%;
            }
            img {
                width: 100%;
                height: calc(100vh - 130px);
                display: block;
                object-fit: cover;
            }
        }
        .stop_btnBox {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 140px;
            height: 120px;
            background-color: white;
            border-top-left-radius: 50px;
            display: grid;
            place-items: center;
            z-index: 11;
            .stop_btn {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                background-color: var(--gray-color);
                display: grid;
                place-items: center;
                i{
                    font-size: 40px;
                }
                .fa-play {
                    display: none;
                }
            }
            &::before {
                content: '';
                width: 50px;
                height: 50px;
                position: absolute;
                background-color: white;
                clip-path: path('M 0 50 L 50 50 L 50 0 Q 50 50 0 50 Z');
                bottom: 120px;
                right: 0;
            }
            &::after {
                content: '';
                width: 50px;
                height: 50px;
                position: absolute;
                background-color: white;
                clip-path: path('M 0 50 L 50 50 L 50 0 Q 50 50 0 50 Z');
                bottom: 0;
                right: 140px;
            }
        }
        .v_bars {
            display: flex;
            gap: 20px;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
            div {
                width: 60px;
                height: 4px;
                border-radius: 10px;
                background-color: var(--gray-color);
                &::before {
                    content: '';
                    width: 60px;
                    height: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    background-color: var(--main-light);
                    animation: slide_bar 9s infinite;
                }
            }
        }

        .v_texts {
            h1 {
                position: absolute;
                bottom: 30px;
                left: 30px;
                color: white;
                font-weight: lighter;
                z-index: 3;
                font-size: 50px;
                span {
                    font-weight: bold;
                }
            }
            .v_text1 {animation: slide_text1 9s infinite;}
            .v_text2 {animation: slide_text2 9s infinite;}
            .v_text3 {animation: slide_text3 9s infinite;}
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.4);
            z-index: 2;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    31% {
        transform: translateX(0);
    }
    33.3333% {
        transform: translateX(-33.333%);
    }
    64.333% {
        transform: translateX(-33.3333%);
    }
    66.6666% {
        transform: translateX(-66.666%);
    }
    97.666% {
        transform: translateX(-66.6666%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide_bar {
    0% {
        left: 0;
    }
    31% {
        left: 0;
    }
    33.3333% {
        left: 80px;
    }
    64.333% {
        left: 80px;
    }
    66.6666% {
        left: 160px;
    }
    97.666% {
        left: 160px;
    }
    100% {
        left: 0;
    }
}

@keyframes slide_text1 {
    0% {
        opacity: 1;
    }
    31% {
        opacity: 1;
    }
    33.3333% {
        opacity: 0;
    }
    64.333% {
        opacity: 0;
    }
    66.6666% {
        opacity: 0;
    }
    97.666% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide_text2 {
    0% {
        opacity: 0;
    }
    31% {
        opacity: 0;
    }
    33.3333% {
        opacity: 1;
    }
    64.333% {
        opacity: 1;
    }
    66.6666% {
        opacity: 0;
    }
    97.666% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide_text3 {
    0% {
        opacity: 0;
    }
    31% {
        opacity: 0;
    }
    33.3333% {
        opacity: 0;
    }
    64.333% {
        opacity: 0;
    }
    66.6666% {
        opacity: 1;
    }
    97.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}