#intro {
    .intro_box {
        img {
            width: 100%;
            margin-top: 30px;
            display: block;
        }
        h2 {
            margin-block: 10px;
            color: var(--main-color);
        }
        p {
            color: var(--sub-color);
        }
    }
    .intro_histroy {
        margin-top: 30px;
        .i_box {
            display: flex;
            position: relative;
            height: 400px;
            justify-content: space-between;
            margin-bottom: 20px;
            &:hover::before {
                width: 500px;
            }
            &:hover .i_contnet > h1,
            &:hover .i_contnet > p {
                color: white;
            }
            img {
                width: 500px;
                border-radius: 20px;
            }
            .i_contnet {
                align-content: center;
                padding-inline: 20px;
                h1 {
                    font-size: 100px;
                    color: var(--main-color);
                }
                p {
                    margin-top: 10px;
                }
            }
            &.i_left {
                .i_contnet {
                    h1 {
                        text-align: right;
                        transition: all 0.2s;
                    }
                    p {
                        transition: all 0.2s;
                    }
                }
            }
        }
        .i_box::before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--main-color);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: -1;
            transition: all 0.2s;
        }
        .i_box.i_left::before {
            left: auto;
            right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
}