#schedule {
    .s_btnBox {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        span {
            color: var(--main-color);
            margin-left: 10px;
        }
        select {
            padding: 10px;
            font-size: 18px;
            background-color: var(--main-color);
            color: white;
            margin-left: 10px;
        }
    }
    .calendar {
        margin-top: 30px;
        .c_red {
            color: rgb(211, 50, 50);
        }
        .c_blue {
            color: rgb(70, 70, 216);
        }
        .not_day {
            color: rgba(0,0,0,0.2);
        }
        .c_week {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            border-top: 1px solid var(--gray-color);
            padding-block: 10px;
        }
        .c_day {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            div {
                height: 190px;
                border-top: 1px solid var(--gray-color);
                border-right: 1px solid var(--gray-color);
                padding: 10px;
            }
            .c_blue {
                border-right: none;
            }
            p {
                padding: 5px;
                margin-top: 5px;
                color: white;
                background-color: var(--main-color);
                font-size: 12px;
            }
        }
    }
}