* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", "Times", serif;
}

/* 로고 FONT 한컴 말랑말랑 Bold */
:root {
    --main-color: #3a5f45;
    --main-light: #5f8f6a;
    --sub-color: #4a5568;
    --gray-muted: #9aa5a1;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

/* 컨테이너 크기 */
.container {
    max-width: 1920px;
    margin: 0 auto;
}

/* 스크롤 제어 */
body:has(#login:checked),
/* 안내팝업용 스크롤 제어 */
body:has(#infor_popup:checked) {
    overflow: hidden;
}

/* 헤더영역 */
header {
    width: 100%;
    height: 130px;
    padding-inline: 30px;
    border-bottom: 1px solid var(--main-color);
    font-size: 18px;
    z-index: 10;
    color: var(--sub-color);
    /* 로그인/회원가입 */
    .user {
        width: 100%;
        height: 50px; 
        display: flex;
        justify-content: right;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        div {
            height: 40px;
            align-content: center;
            padding-inline: 10px;
            transition: all 0.1s;
            border-radius: 10px;
            font-size: 15px;
            border: 1px solid rgba(0,0,0,0.2);
            margin-inline: 5px;
            font-weight: bold;
            label {
                display: block;
                width: 100%;
                height: 100%;
                align-content: center;
                cursor: pointer;
            }
        }
        .sign_up {
            background-color: #222;
            color: white;
        }
        /* 로그인 호버 했을때 이벤트 */
        .sign_in:hover {
            border-color: rgba(0,0,0,0.8);
        }
    }
    /* 로그인 input 체크 했을 때 이벤트 */
    #login:checked ~ .popup {
        visibility: visible;
        opacity: 1;
    }
    /* 모달형 레이어 팝업창 */
    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        display: grid;
        visibility: hidden;
        opacity: 0;
        place-items: center;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0,0,0,0.5);
        transition: all 0.4s;
        .popup_box {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 350px;
            height: 430px;
            background-color: white;
            border-radius: 30px;
            padding: 50px 40px;
            box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
            /* 로고 */
            img {
                display: block;
                width: 200px;
                margin: 0 auto;
            }
            /* 이메일/비밀번호 */
            .popup_wrapper {
                position: relative;
                input {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid rgba(0,0,0,0.4);
                    padding: 10px;
                    outline: none;
                    margin-bottom: 35px;
                    background-color: transparent;
                    /* 이메일/비밀번호 input 클릭하거나(focus) 입력값(vaild)이 있을 때 이벤트*/
                    &:focus ~ span,
                    &:valid ~ span {
                        top: -18px;
                        font-size: 12px;
                        color: var(--main-color);
                        font-weight: bold;
                    }
                    &:focus,
                    &:valid {
                        border-bottom: 2px solid var(--main-color);
                    }
                }
                span {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    font-size: 15px;
                    color: #b8b8b8;
                    transition: all 0.2s;
                }
            }
            /* 로그인 버튼 */
            button {
                width: 100%;
                box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
                padding: 10px;
                border-radius: 50px;
                background-color: white;
                font-size: 18px;
                font-weight: bold;
                transition: all 0.2s;
                /* 버튼 호버 했을 때 이벤트 */
                &:hover {
                    background-color: var(--main-color);
                    color: white;
                    box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,0.1);
                }
            }
            /* 닫기 버튼 */
            .close_btn {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 20px;
                &:hover {
                    color: red;
                }
            }
        }
    }
    /* 헤더 아래 영역 로고/네비게이션 */
    .h_bottom {
        display: flex;
        height: 80px;
        justify-content: space-between;
        /* 로고 */
        .logo {
            align-content: center;
            img {
                width: 130px;
                height: 60px;
            }
        }
        /* 네비게이션 */
        .nav {
            .menu {
                display: flex;
                height: 100%;
                .submenu {
                    position: absolute;
                    top: 120px;
                    width: 200px;
                    padding: 30px 20px;
                    align-content: center;
                    opacity: 0;
                    visibility: hidden;
                    background-color: white;
                    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
                    transition: all 0.2s;
                    z-index: 99;
                    transition-delay: 0.4s;
                    &:hover {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                    li {
                        a {
                            padding: 20px 10px;
                            transition: all 0.2s;
                            &:hover {
                                background-color: rgb(95, 143, 106, 0.1) ;
                                transform: scale(1);
                            }
                        }
                    }
                }
                li {
                    align-content: center;
                    transition: all 0.2s;
                    a {
                        padding-inline: 20px;
                        display: block;
                        height: 100%;
                        align-content: center;
                        position: relative;
                        i {
                            font-size: 10px;
                            position: absolute;
                            transition: all 0.2s;
                        }
                        &:hover {
                            transform: scale(1.1);
                            font-weight: bold;
                        }
                        .fa-minus {
                            visibility: hidden;
                        }
                        &:focus .fa-plus {
                            transition-delay: 0.4s;
                            visibility: hidden;
                            transform: rotate(90deg);
                        }
                        &:focus .fa-minus {
                            visibility: visible;
                            transition-delay: 0.4s;
                        }
                        &:focus ~ .submenu {
                            opacity: 1;
                            visibility: visible;
                        }
                        &:not(:hover) ~ .submenu {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
                .m_bar {
                    padding-inline: 20px;
                }
            }
        }
    }
}

/* 푸터 영역 */
footer {
    width: 100%;
    height: 400px;
    background-color: #222;
    padding: 40px 80px;
    color: var(--main-light);
    border: 1px solid var(--main-color);
    /* 푸터 위 로고/내용 */
    .f_top {
        display: flex;
        justify-content: space-between;
        height: 80%;
        /* 푸터 왼쪽 로고 */
        .f_left {
            img {
                width: 170px;
                height: 90px;
            }
        }
        /* 푸터 오른쪽 내용 */
        .f_right {
            width: 80%;
            display: flex;
            justify-content: space-between;
            ul {
                .f_h {
                    font-weight: bold;
                    font-size: 17px;
                    margin-bottom: 30px;
                }
                li {
                    margin-bottom: 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
            .f_content_bar {
                padding: 0;
                margin-inline: 30px;
                width: 1px;
                height: 100%;
                background-color: var(--main-color);
            }
        }
    }
    /* 푸터 아래 카피라이트/주소 */
    .f_bottom {
        height: 20%;
        border-top: 1px solid #888888;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        font-size: 13px;
        color: var(--gray-muted);
    }
}